{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/agricultura/a100.png" height="200" width="250"><br>Troco por pá hidráulica</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a190.png" height="200" width="250"><br>Troco por bloco de motor</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a120.png" height="200" width="250"><br>Troco por ração traçada</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a130.png" height="200" width="250"><br>Troco por berbequim</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a140.png" height="200" width="250"><br>Troco por sulfatador</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a150.png" height="200" width="250"><br>Troco por limoeiro</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a160.png" height="200" width="250"><br>Troco por orquideas</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a170.png" height="200" width="250"><br>Troco por morangueiros</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a180.png" height="200" width="250"><br>Troco por galpão de oleo</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a200.png" height="200" width="250"><br>Troco por frente trator a89</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a210.png" height="200" width="250"><br>Troco por sistema de rega</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a220.png" height="200" width="250"><br>Troco por fardo de palha</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a230.png" height="200" width="250"><br>Troco por pés de salsa</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a240.png" height="200" width="250"><br>Troco por regadeira</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a250.png" height="200" width="250"><br>Troco semeadeira</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a255.png" height="200" width="250"><br>Troco por bode</a></b></td>
    </tr>

</table>
{% endblock %}
