{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">
    <tr align="center">
        <td><b><a href="#"><img src="/static/agricultura/a100.png" height="200" width="250"><br>Pá hidráulica</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a190.png" height="200" width="250"><br>Bloco de motor</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a120.png" height="200" width="250"><br>Ração traçada</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a130.png" height="200" width="250"><br>Berbequim</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a140.png" height="200" width="250"><br>Sulfatador</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a150.png" height="200" width="250"><br>Limoeiro</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a160.png" height="200" width="250"><br>Orquideas</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a170.png" height="200" width="250"><br>Morangueiros</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a180.png" height="200" width="250"><br>Galpão de oleo</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a200.png" height="200" width="250"><br>Trator a89</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a210.png" height="200" width="250"><br>Sistema de rega</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a220.png" height="200" width="250"><br>Fardo de palha</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/agricultura/a230.png" height="200" width="250"><br>Pés de salsa</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a240.png" height="200" width="250"><br>Regadeira</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a250.png" height="200" width="250"><br>Semeadeira</a></b></td>
        <td><b><a href="#"><img src="/static/agricultura/a255.png" height="200" width="250"><br>Bode</a></b></td>
    </tr>

</table>
{% endblock %}
