{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/animais/n1.png" height="200" width="250"><br>Troco por lavrador</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n2.png" height="200" width="250"><br>Troco por agaponi</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n3.png" height="200" width="250"><br>Troco por porquinho da india</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n4.png" height="200" width="250"><br>Troco por mandarins</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/animais/n5.png" height="200" width="250"><br>Troco por nada (adoção)</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n6.png" height="200" width="250"><br>Troco por pinchas</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n7.png" height="200" width="250"><br>Troco por ovelhas</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n8.png" height="200" width="250"><br>Troco por tartarugas</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/animais/n9.png" height="200" width="250"><br>Troco por vaca barrosã</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n10.png" height="200" width="250"><br>Troco por viveiro</a></b></td>
        <td><b><a href="#"><img src="/static/animais/n11.png" height="200" width="250"><br>Troco por garnizos</a></b></td>
</table>
{% endblock %}
