{% extends 'layout.html' %}
{% block titulo %}
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}

{% block conteudo %}
<body background="/static/background/tt1.gif">
<div class="login-box">
    <form method="post">
        <img src="static/imm/avatar.png" class="avatar">
        <h5>Utilizador</h5>
        <input type="text" name="usr" required>
        <h5>Introduza a Palavra-Passe</h5>
        <input type="password" name="pwd" required>
        <p><br></p>
        <input type="submit" value="Eliminar">
        <center>
            {% if erro %}<h1>{{ erro }}</h1>{% endif %}
        </center>
    </form>
</div>


</body>
{% endblock %}
