{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/bebe/c11.png" height="200"><br>Troco por carrinho de passeio</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c12.png" height="200"><br>Troco por parque</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c13.png" height="200"><br>Troco por cama de solteiro</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c14.png" height="200"><br>Troco por equipamento benfica</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/bebe/c15.png" height="200"><br>Troco por cadeira de carro</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c16.png" height="200"><br>Troco por edredon</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c17.png" height="200"><br>Troco por cama de casal</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c18.png" height="200"><br>Troco por cadeira de comer</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/bebe/c19.png" height="200"><br>Troco por liquidificadora</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c20.png" height="200"><br>Troco por bicicleta</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c21.png" height="200"><br>Troco por casa de brincar</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c22.png" height="200"><br>Troco por triciclo</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/bebe/c23.png" height="200"><br>Troco por calças</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c24.png" height="200"><br>Troco por berço</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c25.png" height="200"><br>Troco por cama solteiro</a></b></td>
        <td><b><a href="#"><img src="/static/bebe/c26.png" height="200"><br>Troco por parque de brincar</a></b></td>
    </tr>

</table>
{% endblock %}
