{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/carros/1.png" height="200" width="250"><br>Troco por honda civic 2018</a></b>
        </td>
        <td><b><a href="#"><img src="/static/carros/2.png" height="200" width="250"><br>Troco por lancha</a></b></td>
        <td><b><a href="#"><img src="/static/carros/3.png" height="200" width="250"><br>Troco por dois porsches panamera </a></b>
        </td>
        <td><b><a href="#"><img src="/static/carros/4.png" height="200" width="250"><br>Troco por i8 + range rover</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/carros/5.png" height="200" width="250"><br>Troco por super desportivo (minha escolha)</a></b>
        </td>
        <td><b><a href="#"><img src="/static/carros/6.png" height="200" width="250"><br>Troco por i8 preto</a></b></td>
        <td><b><a href="#"><img src="/static/carros/7.png" height="200" width="250"><br>Troco por bmw m6</a></b></td>
        <td><b><a href="#"><img src="/static/carros/8.png" height="200" width="250"><br>Troco por amg c220 mercedes</a></b>
        </td>
    </tr>
</table>
{% endblock %}
