{% extends 'layout.html' %}
{% block conteudo %}
<link rel="stylesheet" href="/static/style.css">
<p><br></p>
<p><br></p>
<p><br></p>
<table style="width:100%">

    <tr align="center">
        <td><b><a href="/bebe"><img src="/static/categorias/123.png" height="80">Bebé e Criança</a></b></td>
        <td><b><a href="/lazer"><img src="/static/categorias/12345.jpg" height="80">Lazer</a></b></td>
        <td><b><a href="/telemoveis"><img src="/static/categorias/123456.png" height="70">Telemóveis e Tablets</a></b></td>
        <td><b><a href="/agricultura"><img src="/static/categorias/1234567.png" height="70">Agricultura</a></b></td>
    </tr>
    <tr>
        <td><b><a href="/animais"><img src="/static/categorias/12345678.png" height="70"> Animais</a></b></td>
        <td><b><a href="/desporto"><img src="/static/categorias/123456789.png" height="70">Desporto</a></b></td>
        <td><b><a href="/moda"><img src="/static/categorias/12345678910.png" height="70">Moda</a></b></td>
        <td><b><a href="/moveis"><img src="/static/categorias/1234567891011.png" height="70">Moveis, Casa e Jardim</a></b></td>
    </tr>
    <tr>
        <td><b><a href="/tecnologia"><img src="/static/categorias/123456789101112.png" height="70">Tecnologia</a></b></td>
        <td><b><a href="/carros"><img src="/static/categorias/12345678910111213.png" height="70">Carros, Motos e Barcos</a></b></td>
        <td><b><a href="/imoveis"><img src="/static/categorias/1234567891011121314.png" height="70">Imóveis</a></b></td>
        <td><b><a href="/emprego"><img src="/static/categorias/123456789101112131415.png" height="70">Emprego</a></b></td>
    </tr>
    <tr>
        <td><b><a href="/serviços"><img src="/static/categorias/12345678910111213141516.png" height="70">Serviços</a></td>
        <td><b><a href="/equipamento"><img src="/static/categorias/1234567891011121314151617.png" height="70">Equipamento e Ferramenta</a></td>
        <td><b><a href="/outras"><img src="/static/categorias/123456789101112131415161718.png" height="70">Outras Vendas</a></td>
    </tr>

</table>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
{% endblock %}
