{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/desporto/m1.png" height="200" width="250"><br>Troco por mota</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m2.png" height="200" width="250"><br>Troco por sapatilhas</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m3.png" height="200" width="250"><br>Troco por saco de
            cama</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m4.png" height="200" width="250"><br>Troco por passadeira</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/desporto/m5.png" height="200" width="250"><br>Troco por prancha</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m6.png" height="200" width="250"><br>Troco por raquetes myprotein</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m7.png" height="200" width="250"><br>Troco por passadeira</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m8.png" height="200" width="250"><br>Troco por specialized demo 8</a></b>
        </td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/desporto/m9.png" height="200" width="250"><br>Troco por barco </a></b></td>
        <td><b><a href="#"><img src="/static/desporto/m10.png" height="200" width="250"><br>Troco por bola</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m11.png" height="200" width="250"><br>Troco por barbatanas</a></b>
        </td>
        <td><b><a href="#"><img src="/static/desporto/m12.png" height="200" width="250"><br>Troco por caneleiras</a></b>
        </td>
</table>
{% endblock %}
