{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/equipamento/10.png" height="200" width="250"><br>Troco por guilhotina</a></b>
        </td>
        <td><b><a href="#"><img src="/static/equipamento/20.png" height="200" width="250"><br>Troco por maquina de corte a água</a></b></td>
        <td><b><a href="#"><img src="/static/equipamento/30.png" height="200" width="250"><br>Troco por elevador automovel</a></b>
        </td>
        <td><b><a href="#"><img src="/static/equipamento/40.png" height="200" width="250"><br>Troco por compressor de pintura</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/equipamento/50.png" height="200" width="250"><br>Troco por lixadeira</a></b></td>
        <td><b><a href="#"><img src="/static/equipamento/60.png" height="200" width="250"><br>Troco por mandril</a></b></td>
        <td><b><a href="#"><img src="/static/equipamento/70.png" height="200" width="250"><br>Troco por marreta</a></b></td>
        <td><b><a href="#"><img src="/static/equipamento/80.png" height="200" width="250"><br>Troco por martelo pneumático</a></b></td>
    </tr>
</table>
{% endblock %}
