{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/imoveis/10.png" height="200" width="250"><br>Troco por apartamento duplex</a></b>
        </td>
        <td><b><a href="#"><img src="/static/imoveis/11.png" height="200" width="250"><br>Troco por moradia em Braga</a></b></td>
        <td><b><a href="#"><img src="/static/imoveis/12.png" height="200" width="250"><br>Troco por moradia terria</a></b>
        </td>
        <td><b><a href="#"><img src="/static/imoveis/13.png" height="200" width="250"><br>Troco por apartamento no centro do porto</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/imoveis/14.png" height="200" width="250"><br>Troco por quinta em chaves</a></b>
        </td>
    </tr>
</table>
{% endblock %}
