{% extends 'layout.html' %}
{% block conteudo %}

<!--BootStrap-->
<link href="css/bootstrap.css" rel="stylesheet">

<!--style-->
<link href="/static/style.css" rel="stylesheet">

<section class="header-site">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h1 class="text-center">Bem Vindo</h1>

                <p class="lead text-center">O inicio de uma nova era...</p>
                <p class="text-center">
                    <a href="#" class="btn btn-danger">Cadastre-se</a>
                </p>
            </div>

        </div>

    </div>
</section>

<section class="content-site">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h1 class="text-center" la>Aqui tudo é possivel!</h1>

                <p class="text-center">Quantas vezes já se viu a fazer arrumações em casa e se deparou com objectos que
                    não usa? Quantas vezes já não pensou poder trocar um serviço por algo do seu interesse? Bem na
                    FastTrade tudo isso é possivel!</p>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c1.png">

                    <div class="caption text-center">

                        <h3>Vamos ver onde fica</h3>
                        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem
                            vindo a ser o texto padrão usado por estas indústrias</p>

                    </div>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c2.jpg">

                    <div class="caption text-center">

                        <h3>Vamos ver onde fica</h3>
                        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem
                            vindo a ser o texto padrão usado por estas indústrias</p>

                    </div>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c3.jpg">

                    <div class="caption text-center">

                        <h3>Vamos ver onde fica</h3>
                        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem
                            vindo a ser o texto padrão usado por estas indústrias</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
