{% extends 'layout.html' %}
{% block conteudo %}

<!--style-->
<link href="/static/style.css" rel="stylesheet">

<section class="header-site">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h1 class="text-center">BEM-VINDO</h1>

                <p class="lead text-center">O inicio de uma nova era...</p>
                <p class="text-center">
                    <a href="/registo" class="btn btn-danger">Registe-se</a>
                <p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p>
                </p>
            </div>

        </div>

    </div>
</section>

<section class="content-site">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h1 class="text-center" la>Aqui tudo é possivel!</h1>

                <p class="text-center">Quantas vezes já se viu a fazer arrumações em casa e se deparou com objectos que
                    não usa? Quantas vezes já não pensou poder trocar um serviço por algo do seu interesse? Bem na
                    FastTrade tudo isso é possivel!</p>
              <br>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c1.png">

                    <div class="caption text-center">

                        <h3>Rápido e Facil</h3>
                        <p>Com o FastTrade conseguirá rapida e facilmente efetuar as suas trocas. Basta um simples clique para trocar!</p>

                    </div>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c2.jpg">

                    <div class="caption text-center">

                        <h3>Gratuito</h3>
                        <p>A plataforma FastTrade nunca lhe irá cobrar qualquer tipo de valor com as suas trocas! Tornando-se assim um serviço de excelencia gratuito.</p>

                    </div>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="thumbnail">

                    <img src="static/boot/c3.jpg">

                    <div class="caption text-center">

                        <h3>Seguro</h3>
                        <p>O FastTrade tem em sua posse um dos sistemas de encriptação de dados, nos quais todos os seus dados ficaram seguros! </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="img-site">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <h1 class="text-center">Gostou Do Nosso Serviço?</h1>

                <p class="lead text-center">Envie a sua sugestão para <u>apoioaocliente@fastrade.com</u></p>

            </div>

        </div>

    </div>

</section>
{% endblock %}
