{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/lazer/c50.png" height="200"><br>Troco por rato de pc</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c51.png" height="200"><br>Troco por meias</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c52.png" height="200"><br>Troco por piano</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c53.png" height="200"><br>Troco por quadro de animais</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/lazer/c54.png" height="200"><br>Troco por mesa de mistura</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c55.png" height="200"><br>Troco por mesa de ping-pong</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c56.png" height="200"><br>Troco por ecrã</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c57.png" height="200"><br>Troco por gaivota a pedal</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/lazer/c58.png" height="200"><br>Troco por canon gt7</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c59.png" height="200"><br>Troco por carochas em miniatura</a></b></td>
        <td><b><a href="#"><img src="/static/lazer/c60.png" height="200"><br>Troco por pulseira pandora</a></b></td>
</table>
{% endblock %}
