{% extends 'layout.html' %}
{% block titulo %}
<title>Iniciar Sessão</title>
{% endblock %}



{% block conteudo %}
<body background="/static/background/tt1.gif">
<link href="/static/style.css">
<br>
<br>
<form method="post">
    <fieldset>
        <h4>Utilizador</h4>
        <input type="text" name="utilizador" required>
        <p><br></p>
        <h4>Palavra-Passe</h4>
        <input type="password" name="passe" required>
        <a href="/registo">Não tem conta crie já a sua!</a>
        <p><br></p>
        <button class="btn btn-one">Iniciar Sessão</button>

    </fieldset>
</form>

{% if erro %}<h4>{{ erro }}</h4>{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
