{% extends 'layout.html' %}
{% block titulo %}
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}

{% block conteudo %}
<body background="/static/background/tt1.gif">
<div class="login-box">
    <img src="static/imm/avatar.png" class="avatar">
    <form method="post">
        <h4>Utilizador</h4>
        <input type="text" name="usr" required>
        <h4>Introduza a Palavra-Passe</h4>
        <input type="password" name="pwd" required>
        <input type="submit" value="Entrar">
        <a href="newpass">Alterar Password</a><br>
        <a href="apagar">Esqueça-me</a>
        <p><br><br></p>
        {% if erro %}<h1>{{ erro }}</h1>{% endif %}
    </form>
</div>


</body>

{% endblock %}
