{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/moda/q1.png" height="200" width="250"><br>Troco por sobretudo</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q2.png" height="200" width="250"><br>Troco por calças de ganga</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q3.png" height="200" width="250"><br>Troco por bolsa Gucci</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moda/q4.png" height="200" width="250"><br>Troco por sapatos ao meu agrado</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/moda/q5.png" height="200" width="250"><br>Troco por camisola lacoste</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moda/q6.png" height="200" width="250"><br>Troco por calças de fato de treino</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q7.png" height="200" width="250"><br>Troco por luvas</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q8.png" height="200" width="250"><br>Troco por superstart's</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/moda/q9.png" height="200" width="250"><br>Troco por camisola new york</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moda/q10.png" height="200" width="250"><br>Troco por mochila</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q11.png" height="200" width="250"><br>Troco por bateria asus</a></b></td>
        <td><b><a href="#"><img src="/static/moda/q12.png" height="200" width="250"><br>Troco por mala</a></b></td>
</table>
{% endblock %}
