{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/moveis/h1.png" height="200" width="250"><br>Troco por mesinhas de cabeceira</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moveis/h2.png" height="200" width="250"><br>Troco por sofá</a></b></td>
        <td><b><a href="#"><img src="/static/moveis/h3.png" height="200" width="250"><br>Troco por roupão</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moveis/h4.png" height="200" width="250"><br>Troco por cama de casal</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/moveis/h5.png" height="200" width="250"><br>Troco por tampo de cozinha</a></b>
        </td>
        <td><b><a href="#"><img src="/static/moveis/h6.png" height="200" width="250"><br>Troco por banco de jardim</a></b></td>
        <td><b><a href="#"><img src="/static/moveis/h7.png" height="200" width="250"><br>Troco por carpete</a></b></td>
        <td><b><a href="#"><img src="/static/moveis/h8.png" height="200" width="250"><br>Troco por secretária</a></b>
        </td>
    </tr>
</table>
{% endblock %}
