{% extends 'layout.html' %}
{% block titulo %}
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
{% endblock %}

{% block conteudo %}
<body background="/static/background/tt1.gif">
<div class="login-box">
    <form method="post">
        <img src="static/imm/avatar.png" class="avatar">
        <h5>Utilizador</h5>
        <input type='text' name="usr" required>
        <h5>Nova Palavra-Passe</h5>
        <input type='password' name="pwd" required>
        <h5>Confirme a Passe</h5>
        <input type='password' name="cpwd" required>
        <input type="submit" value="Submeter">
        {% if erro %}
        <h4>{{ erro }}</h4>
        {% endif %}
    </form>
</div>
</body>
{% endblock %}
