{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/outras/100.png" height="200" width="250"><br>Troco por creme de mãos</a></b>
        </td>
        <td><b><a href="#"><img src="/static/outras/200.png" height="200" width="250"><br>Troco por garrafeira de esferobite</a></b></td>
        <td><b><a href="#"><img src="/static/outras/300.png" height="200" width="250"><br>Troco por tabuleiro de inox</a></b>
        </td>
        <td><b><a href="#"><img src="/static/outras/400.png" height="200" width="250"><br>Troco por por carpete</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/outras/500.png" height="200" width="250"><br>Troco por teclado</a></b></td>
        <td><b><a href="#"><img src="/static/outras/600.png" height="200" width="250"><br>Troco por canadianas</a></b></td>
        <td><b><a href="#"><img src="/static/outras/700.png" height="200" width="250"><br>Troco por mota</a></b></td>
    </tr>
</table>
{% endblock %}
