{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/tecnologia/2.png" height="200" width="250"><br>Troco por computador</a></b></td>
        <td><b><a href="#"><img src="/static/tecnologia/3.png" height="200" width="250"><br>Troco por lente 800x</a></b>
        </td>
        <td><b><a href="#"><img src="/static/tecnologia/4.png" height="200" width="250"><br>Troco por teclado razer</a></b>
        <td><b><a href="#"><img src="/static/tecnologia/5.png" height="200" width="250"><br>Troco por mousepad</a></b>
        </td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/tecnologia/6.png" height="200" width="250"><br>Troco por caiza micro ATX</a></b>
        </td>
        <td><b><a href="#"><img src="/static/tecnologia/7.png" height="200" width="250"><br>Troco por surface</a></b></td>
        <td><b><a href="#"><img src="/static/tecnologia/8.png" height="200" width="250"><br>Troco por samsung j6</a></b></td>
        <td><b><a href="#"><img src="/static/tecnologia/9.png" height="200" width="250"><br>Troco por placa de video</a></b>
        <td><b><a href="#"><img src="/static/tecnologia/10.png" height="200" width="250"><br>Troco por coluna jbl</a></b>
        <td><b><a href="#"><img src="/static/tecnologia/11.png" height="200" width="250"><br>Troco por lente x350ccd</a></b>
        </td>
    </tr>
        <tr align="center">
        <td><b><a href="#"><img src="/static/tecnologia/12.png" height="200" width="250"><br>Troco por memória RAM</a></b></td>
        <td><b><a href="#"><img src="/static/tecnologia/13.png" height="200" width="250"><br>Troco por monitor</a></b></td>
        <td><b><a href="#"><img src="/static/tecnologia/14.png" height="200" width="250"><br>Troco por colunas de som</a></b>
        <td><b><a href="#"><img src="/static/tecnologia/15.png" height="200" width="250"><br>Troco por secretária</a></b>
        </td>

    </tr>
</table>
{% endblock %}
