{% extends 'layout.html' %}
{% block conteudo %}
<table style="width:100%">

    <tr align="center">
        <td><b><a href="#"><img src="/static/telemoveis/a1.png" height="200"><br>Troco por huawei p8</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a2.png" height="200"><br>Troco por samsung a6</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a3.png" height="200"><br>Troco por nokia</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a4.png" height="200"><br>Troco por carregador</a></b></td>

    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/telemoveis/a5.png" height="200"><br>Troco por tablet</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a6.png" height="200"><br>Troco por bateria samsung j3</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a7.png" height="200"><br>Troco por capa para iphone 4s</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a8.png" height="200"><br>Troco por teclado razer</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/telemoveis/a9.png" height="200"><br>Troco por headset</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a10.png" height="200"><br>Troco por bicicleta</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a11.png" height="200"><br>Troco por iphone xr</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a12.png" height="200"><br>Troco por nokia a35</a></b></td>
    </tr>
    <tr>
        <td><b><a href="#"><img src="/static/telemoveis/a13.png" height="200"><br>Troco memoria Ram ddr4</a></b></td>
        <td><b><a href="#"><img src="/static/telemoveis/a14.png" height="200"><br>Troco por cartões ssd</a></b></td>
    </tr>

</table>
{% endblock %}
